# Pandas 라이브러리를 활용한 데이터 수집 및 저장

# 1. 파일 데이터 수집 및 저장

### 파일 불러오기

In [ ]:
import pandas as pd
# 구글드라이브 연동
from google.colab import drive
drive.mount("/content/gdrive")

%cd /content/gdrive/MyDrive/Colab Notebooks/analysis_edu/03. 데이터베이스 이해 및 ETL 실습

In [17]:
pwd

'/content/gdrive/MyDrive/Colab Notebooks/analysis_edu/03. 데이터베이스 이해 및 ETL 실습'

# 1. 데이터 불러오기

### 1.1. 상대경로와 절대경로

In [16]:
# 상대경로: 폴더구조가 안깨진다
relativePath = "../dataset/kopo_product_volume.csv"
selloutData = pd.read_csv( relativePath )

# 절대경로
absPath = "/content/gdrive/MyDrive/Colab Notebooks/analysis_edu/dataset/kopo_product_volume.csv"
selloutDataAbs = pd.read_csv(absPath)
selloutDataAbs

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]

In [10]:
selloutDataAbs

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]

파일 데이터 불러오기 (csv)

In [ ]:
# Pandas 패키지 불러오기
import pandas as pd

# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼명 변경
customerData.columns = ["custid","avgprice","emi",\
                        "devicecount","productage","cstype"]

# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", index=False)
customerData.head()

   custid     avgprice  emi  devicecount  productage            cstype
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

파일 데이터 불러오기 (excel)

In [ ]:
# Pandas 패키지 불러오기
import pandas as pd

# 엑셀 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_excel("../dataset/customerdata.xlsx")

# 컬럼명 변경
customerData.columns = ["custid","avgprice","emi",\
                        "devicecount","productage","cstype"]
# 파일 저장
customerData.to_excel("../dataset/customerdata_out.xlsx", index=False)
customerData.head()

   custid     avgprice  emi  devicecount  productage            cstype
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

파일 데이터 불러오기 (한글포함 데이터)

In [ ]:
# Pandas 패키지 불러오기
import pandas as pd

# CSV 파일을 읽어올 때 encoding = “ms949” 옵션 정의
regionData = pd.read_csv("../dataset/kopo_region_mst_hangul.csv", \
                         encoding="ms949")
regionData.head()

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질

웹 파일 데이터 불러오기

In [ ]:
# Pandas 패키지 불러오기
import pandas as pd

# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/customerdata.csv")

# 컬럼명 변경
customerData.columns = ["custid","avgprice","emi",\
                        "devicecount","productage","cstype"]

customerData.head()

   custid     avgprice  emi  devicecount  productage            cstype
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

### [실습1]
../dataset 폴더 내 kopo_product_volume.csv 파일을 selloutdata 변수에 담으세요

In [ ]:
# PANDAS 패키지 불러오기
import pandas as pd

# CSV 파일을 읽어 Data Frame 변수에 저장하기
selloutdata = pd.read_csv("../dataset/kopo_product_volume.csv")
selloutdata

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]

In [ ]:
# CSV 파일로 저장
selloutdata.to_csv("../dataset/selloutdata_out.csv", index=False)
selloutdata.head()

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999
2      A01       ST0001    201418  671464
3      A01       ST0002    201418  134467
4      A01       ST0001    201413  470040

데이터베이스 실습 전
설치한 데이터베이스에 kopo_product_volume.csv
데이터를 저장합니다.
(데이터베이스 기능 활용!)